
.box1 {
  min-height: 50vh;
  width: 28%;
  margin: auto;
  display: inline-table;
}

.box2 {
  min-height: 50vh;
  width: 50%;
  margin: auto;
  display: inline-table;
}

.box3 {
  min-height: 50vh;
  width: 20%;
  margin: auto;
  display: inline-table;
}

.white {
	  background-color: #fff;
	  min-height:150px;
}

.dark_blue {
  background-color: #FEF143;
}

.light_blue {
  background-color: #ED5879;
}

.green {
  background-color: #FB5734;
}
